[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory={{ source_home }}
EnvironmentFile={{ site_home }}/environment
ExecStart={{ virtualenv_home }}/bin/gunicorn --access-logfile - --workers 3 --bind unix:{{ source_home }}/{{ project_name }}.sock {{ project_name }}.wsgi:application

[Install]
WantedBy=multi-user.target
